.swiper-button-prev {
  color: rgba(181, 123, 34, 1);
  border: 1px solid rgba(181, 123, 34, 1);
  border-radius: 100%;
  padding: 24px;
}
.swiper-button-next {
  color: rgba(181, 123, 34, 1);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(224, 179, 84, 1);
}
.swiper-pagination-bullet-active {
  width: 98px;
  height: 8px;
  border-radius: 25px;
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: rgba(181, 123, 34, 1);
}
